# Termwork - 1

### 1. Print all prime numbers between m and n

In [3]:
def isPrime(n):
    if n < 2:
        return False
    
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

def printPrimes(m, n):
    for i in range(m, n + 1):
        if isPrime(i):
            print(i)

m = int(input("Enter the start number:"))
n = int(input("Enter the end number:"))

print(f"The Prime number from {m} to {n} are:")
printPrimes(m, n)

Enter the start number: 5
Enter the end number: 25

The Prime number from 5 to 25 are:
5
7
11
13
17
19
23

### 2. Generate a random number between the range n1 and n2 , then find sum of all natural nos till that number

In [7]:
import numpy as np

n1 = int(input("Enter the start number:"))
n2 = int(input("Enter the end number:"))

n3 = np.random.randint(n1, n2 + 1)

print(f"The random number is {n3}")
print(f"The sum of all natural numbers till {n3} is: {n3*(n3 + 1)//2}")

Enter the start number: 1
Enter the end number: 50

The random number is 33
The sum of all natural numbers till 33 is: 561

### 3. Generate a random number between the range n1 and n2 and store in variable n3, then find generate n3 random number and find their sum

In [10]:
import numpy as np

n1 = int(input("Enter the start number:"))
n2 = int(input("Enter the end number:"))

n3 = np.random.randint(n1, n2)

sum = np.sum(np.random.randint(n1, n2, n3))
    
print(f"The random number is {n3}")    
print(f"The sum of {n3} random numbers is: {sum}")

Enter the start number: 1
Enter the end number: 50

The random number is 33
The sum of 33 random numbers is: 837

### 4. Create a list with 100 random numbers and perform the following tasks.

In [35]:
l1 = [np.random.randint(100) for i  in range(100)]
print(l1)

[96, 61, 12, 18, 6, 91, 80, 50, 74, 35, 42, 78, 70, 20, 79, 6, 19, 80, 24, 75, 51, 40, 17, 39, 53, 91, 54, 29, 37, 27, 76, 37, 74, 84, 99, 4, 70, 60, 91, 10, 62, 15, 72, 3, 57, 42, 89, 40, 8, 23, 5, 26, 83, 92, 82, 40, 60, 47, 3, 26, 50, 51, 81, 57, 83, 83, 63, 55, 26, 73, 9, 12, 43, 26, 86, 58, 93, 14, 3, 11, 56, 22, 58, 8, 83, 31, 31, 53, 72, 75, 42, 40, 2, 61, 40, 33, 67, 84, 94, 6]

#### a. Display first 10 numbers

In [36]:
print(l1[:10])

[96, 61, 12, 18, 6, 91, 80, 50, 74, 35]

#### b. Display last 10 numbers

In [37]:
print(l1[-10:])

[42, 40, 2, 61, 40, 33, 67, 84, 94, 6]

#### c. Display first 10 even numbers

In [38]:
j = 10
for i in l1:
    if i % 2 == 0:
        print(i, end=" ")
        j-=1
        if j == 0:
            break

96 12 18 6 80 50 74 42 78 70

#### d. Sort the list in ascending and descending order

In [39]:
l1.sort()
print(f"The List in ascending order is:\n{l1}", end="\n\n")

l1.sort(reverse=True)
print(f"The List in descending order is:\n{l1}")

The List in ascending order is:
[2, 3, 3, 3, 4, 5, 6, 6, 6, 8, 8, 9, 10, 11, 12, 12, 14, 15, 17, 18, 19, 20, 22, 23, 24, 26, 26, 26, 26, 27, 29, 31, 31, 33, 35, 37, 37, 39, 40, 40, 40, 40, 40, 42, 42, 42, 43, 47, 50, 50, 51, 51, 53, 53, 54, 55, 56, 57, 57, 58, 58, 60, 60, 61, 61, 62, 63, 67, 70, 70, 72, 72, 73, 74, 74, 75, 75, 76, 78, 79, 80, 80, 81, 82, 83, 83, 83, 83, 84, 84, 86, 89, 91, 91, 91, 92, 93, 94, 96, 99]

The List in descending order is:
[99, 96, 94, 93, 92, 91, 91, 91, 89, 86, 84, 84, 83, 83, 83, 83, 82, 81, 80, 80, 79, 78, 76, 75, 75, 74, 74, 73, 72, 72, 70, 70, 67, 63, 62, 61, 61, 60, 60, 58, 58, 57, 57, 56, 55, 54, 53, 53, 51, 51, 50, 50, 47, 43, 42, 42, 42, 40, 40, 40, 40, 40, 39, 37, 37, 35, 33, 31, 31, 29, 27, 26, 26, 26, 26, 24, 23, 22, 20, 19, 18, 17, 15, 14, 12, 12, 11, 10, 9, 8, 8, 6, 6, 6, 5, 4, 3, 3, 3, 2]

#### e. Search a given key element in a list

In [40]:
def search(l, key):
    for i in range(0, len(l1)):
        if(l1[i] == key):
            return i
    return -1
        
key = int(input("Enter the key Element:"))
i = search(l1, key)
print(f"Element {key} found at index {i}" if i != -1 else f"Element {key} not found")

Enter the key Element: 56

Element 56 found at index 43

#### f. Print the data type of a list

In [41]:
print(type(l1))

<class 'list'>

#### g. Insert an element at a particular position

In [42]:
ele = int(input("Enter the element to be inserted: "))
pos = int(input("Enter the position:"))
l1.insert(pos, ele)
print(f"The list after insertion:\n{l1}")

Enter the element to be inserted:  5
Enter the position: 10

The list after insertion:
[99, 96, 94, 93, 92, 91, 91, 91, 89, 86, 5, 84, 84, 83, 83, 83, 83, 82, 81, 80, 80, 79, 78, 76, 75, 75, 74, 74, 73, 72, 72, 70, 70, 67, 63, 62, 61, 61, 60, 60, 58, 58, 57, 57, 56, 55, 54, 53, 53, 51, 51, 50, 50, 47, 43, 42, 42, 42, 40, 40, 40, 40, 40, 39, 37, 37, 35, 33, 31, 31, 29, 27, 26, 26, 26, 26, 24, 23, 22, 20, 19, 18, 17, 15, 14, 12, 12, 11, 10, 9, 8, 8, 6, 6, 6, 5, 4, 3, 3, 3, 2]

#### h. Append an element at end of the list

In [43]:
ele = int(input("Enter the element to be inserted: "))
l1.append(ele)
print(f"List after appending element {ele} is:\n{l1}")

Enter the element to be inserted:  10

List after appending element 10 is:
[99, 96, 94, 93, 92, 91, 91, 91, 89, 86, 5, 84, 84, 83, 83, 83, 83, 82, 81, 80, 80, 79, 78, 76, 75, 75, 74, 74, 73, 72, 72, 70, 70, 67, 63, 62, 61, 61, 60, 60, 58, 58, 57, 57, 56, 55, 54, 53, 53, 51, 51, 50, 50, 47, 43, 42, 42, 42, 40, 40, 40, 40, 40, 39, 37, 37, 35, 33, 31, 31, 29, 27, 26, 26, 26, 26, 24, 23, 22, 20, 19, 18, 17, 15, 14, 12, 12, 11, 10, 9, 8, 8, 6, 6, 6, 5, 4, 3, 3, 3, 2, 10]

### 5. Create two list with elements 10 and 10.

In [52]:
l1 = list(range(1, 11))
l2 = list(range(1, 21, 2))
print(f"Contents of list 1 are:\n{l1}")
print(f"Contents of list 2 are:\n{l2}")

Contents of list 1 are:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Contents of list 2 are:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### a. Add the elements of second list to first

In [53]:
l1.extend(l2)
print(f"The list 1 after adding elements of list 2:\n{l1}")

The list 1 after adding elements of list 2:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### b. Remove the second item from the list using pop function

In [54]:
l1.pop(1)
print(f"List 1 after removing second item:\n{l1}")

List 1 after removing second item:
[1, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### c. Remove the last item

In [55]:
l1.pop()
print(f"List 1 after removing the last item:\n{l1}")

List 1 after removing the last item:
[1, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3, 5, 7, 9, 11, 13, 15, 17]

### 6. Create a list of fruits

In [56]:
fruits = ["apple", "orange", "banana", "kiwi", "pineapple"]
print(f"Contents of list:\n{fruits}")

Contents of list:
['apple', 'orange', 'banana', 'kiwi', 'pineapple']

#### a. Based on a list of fruits, form a new list, containing only the fruits with the letter "a" in the name.

In [57]:
l1 = [fruit for fruit in fruits if "a" in fruit]
print(l1)

['apple', 'orange', 'banana', 'pineapple']

#### b. Only accept items that are not "apple"

In [60]:
l2 = [fruit for fruit in fruits if fruit != "apple"]
print(l2)

['orange', 'banana', 'kiwi', 'pineapple']

### 7. Create a two matrices

In [63]:
mat1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
mat2 = [[2, 4, 6], [8, 10, 12], [14, 16, 18]]

print(f"Contents of matrix 1:\n{mat1}", end="\n\n")
print(f"Contents of matrix 2:\n{mat2}")

Contents of matrix 1:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Contents of matrix 2:
[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

#### a. add two matrix with a for loop

In [65]:
mat3 = []
for i in range(len(mat1)):
    l = []
    for j in range(len(mat1[0])):
        l.append(mat1[i][j] + mat2[i][j])
    mat3.append(l)
    
print(f"The resultant matrix is:\n{mat3}")

The resultant matrix is:
[[3, 6, 9], [12, 15, 18], [21, 24, 27]]

#### b. Adding and subtracting values to a matrix with list comprehension

In [67]:
n = int(input("Enter a number:"))
mat4 = [[j + n for j in i] for i in mat1]
print(f"Matrix 1 after adding {n}:\n{mat4}", end="\n\n")
mat5 = [[j - n for j in i] for i in mat1]
print(f"Matrix 1 after subtracting {n}:\n{mat5}")

Enter a number: 4

Matrix 1 after adding 4:
[[5, 6, 7], [8, 9, 10], [11, 12, 13]]

Matrix 1 after subtracting 4:
[[-3, -2, -1], [0, 1, 2], [3, 4, 5]]

### 8. Create a dictionary with key value pairs as country with its capital

In [68]:
d1 = {
    "India": "New Delhi",
    "Russia": "Moscow",
    "United Kingdom": "London",
    "Germany": "Berlin",
    "Spain": "Madrid",
    "Ukraine": "Kiev",
}

print(f"Contents of dictionary:\n{d1}")

Contents of dictionary:
{'India': 'New Delhi', 'Russia': 'Moscow', 'United Kingdom': 'London', 'Germany': 'Berlin', 'Spain': 'Madrid', 'Ukraine': 'Kiev'}

#### a. Print the capital of a given country

In [70]:
country = input("Enter the country:")
print(f"The capital of {country} is {d1[country]}")

Enter the country: India

The capital of India is New Delhi

#### b. Print the  list of the values of dictionary and a list of the keys

In [71]:
print(f"List of keys: {list(d1.keys())}")
print(f"List of values: {list(d1.values())}")

List of keys: ['India', 'Russia', 'United Kingdom', 'Germany', 'Spain', 'Ukraine']
List of values: ['New Delhi', 'Moscow', 'London', 'Berlin', 'Madrid', 'Kiev']

#### c. Add a new item to the original dictionary

In [72]:
country = input("Enter the country:")
capital = input("Enter the capital:")
d1.update({country : capital})
print(f"Contents of dictionary after adding new item:\n{d1}")

Enter the country: Italy
Enter the capital: Rome

Contents of dictionary after adding new item:
{'India': 'New Delhi', 'Russia': 'Moscow', 'United Kingdom': 'London', 'Germany': 'Berlin', 'Spain': 'Madrid', 'Ukraine': 'Kiev', 'Italy': 'Rome'}

#### d. Print a list of the country:capital pairs

In [74]:
print([f"{country}:{capital}" for country, capital in d1.items()])

['India:New Delhi', 'Russia:Moscow', 'United Kingdom:London', 'Germany:Berlin', 'Spain:Madrid', 'Ukraine:Kiev', 'Italy:Rome']

### 9. Create a dictionary that contains three dictionaries related to student information having name, usn, year of passing as parameters and Print the name of 2 student

In [76]:
students = {
    "student1": {"name": "Joy", "usn": "038", "year_of_passing": 2026},
    "student2": {"name": "Pratham", "usn": "063", "year_of_passing": 2026},
    "student3": {"name": "Abdul", "usn": "001", "year_of_passing": 2026}
}

print("Names of two students:")
print("1.", students["student1"]["name"])
print("2.", students["student2"]["name"])

Names of two students:
1. Joy
2. Pratham

### 10. Implement a TIC-TAC-TOE game.

In [80]:
board = [[" ", " ", " "], [" ", " ", " "], [" ", " ", " "]]
player = True

def printBoard():
    for row in range(3):
        i, j, k = board[row][0], board[row][1], board[row][2] 
        print(f" {i} | {j} | {k} ")
        if(row != 2):
            print("-----------")

def checkWin():
    for i in range(3):
        if board[i][0] == board[i][1] == board[i][2] and board[i][0] != " ":
            return True
        elif board[0][i] == board[1][i] == board[2][i] and board[0][i] != " ":
            return True
        
    if board[0][0] == board[1][1] == board[2][2] and board[0][0] != " ":
        return True
    
    if board[0][2] == board[1][1] == board[2][0] and board[0][2] != " ":
        return True
    
    return False

turn = 9
while(turn != 0):
    printBoard()
    if player:
        print(f"Player X Turn")
    else:
        print(f"Player O Turn")
    x = int(input("Enter the row:"))
    y = int(input("Enter the col:"))
    print()
    if 0 <= x < 3 and 0 <= y < 3 and board[x][y] == " ":
        board[x][y] = "X" if player else "O"
        turn -= 1
        if checkWin():
            printBoard()
            if player:
                print(f"Player X Won")
            else:
                print(f"Player O Won")
            break
        elif turn == 0:
            printBoard()
            print("Draw")
            break
        player = not player
    else:
        print("Invalid row or col")

   |   |
-----------
   |   |
-----------
   |   |
Player X Turn

Enter the row: 0
Enter the col: 0

 X |   |
-----------
   |   |
-----------
   |   |
Player O Turn

Enter the row: 0
Enter the col: 1

 X | O |
-----------
   |   |
-----------
   |   |
Player X Turn

Enter the row: 1
Enter the col: 0

 X | O |
-----------
 X |   |
-----------
   |   |
Player O Turn

Enter the row: 2
Enter the col: 0

 X | O |
-----------
 X |   |
-----------
 O |   |
Player X Turn

Enter the row: 1
Enter the col: 1

 X | O |
-----------
 X | X |
-----------
 O |   |
Player O Turn

Enter the row: 1
Enter the col: 2

 X | O |
-----------
 X | X | O
-----------
 O |   |
Player X Turn

Enter the row: 2
Enter the col: 2

 X | O |
-----------
 X | X | O
-----------
 O |   | X
Player X Won